[workspace]
members = [
    "material-styles-yew",
    "material-yewi",
    "documentation",
    "documentation-macros",
    "documentation-utils",
]
resolver = "2"

[patch.crates-io]
yew = { path = "yew/packages/yew" }
yew-router = { path = "yew/packages/yew-router" }

[patch."https://github.com/yewstack/yew"]
yew = { path = "yew/packages/yew" }
yew-router = { path = "yew/packages/yew-router" }

[profile.release]
# less code to include into binary
panic = 'abort' 
# optimization over all codebase ( better optimization, slower build )
codegen-units = 1 
# link time optimization using using whole-program analysis
lto = true
