name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  codestyle:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v1

      - name: Run rustfmt check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: Run cargo clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - uses: Swatinem/rust-cache@v1
      - uses: davidB/rust-cargo-make@v1

      - name: Run ci flow
        uses: actions-rs/cargo@v1
        with:
          command: make
          args: workspace-ci-flow

  build-deploy:
    name: Build deployment
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          target: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v1
      - uses: davidB/rust-cargo-make@v1
      - uses: jetli/trunk-action@v0.1.0
        with:
          version: "latest"

      - name: Build release
        run: cargo make build-deploy
        env:
          TRUNK_BUILD_PUBLIC_URL: "/material-yewi/"

      - name: Upload dist artifacts
        uses: actions/upload-artifact@v2
        with:
          name: distribution
          path: dist

  deploy:
    name: Deploy to gh-pages
    runs-on: ubuntu-latest
    needs: build-deploy
    if: github.event_name == 'push'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: distribution
          path: dist

      - name: Deploy
        uses: s0/git-publish-subdir-action@v2.4.0
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SQUASH_HISTORY: true
          MESSAGE: "update demo to {long-sha}:\n\n{msg}"
